Options +MultiViews

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

# if not, pass it to index.php
RewriteRule ^(.*)$ index.php?q=$1 [L]  # QSA preserves the query 

