@CHARSET "ISO-8859-1";

/* ID == # */

legend,.form-required {
	color: #333399;
	font-weight: bold;
}

label {
	font-weight: bold;
}

legend {
	background-color: #ffffff;
	padding: 5px;
	border: #000000 1px solid;
}

abbr {
	border-bottom: 1px dotted #666666;
}

input, textarea {
	display: block;
}

.form-checkbox input{
	display: inline;
	margin-right: 1em;
}

textarea {
	width: 95%;
}

.form-item {
	margin-bottom: 1em;
}

#body * legend {
	font-size: 1.2em;
}

#body fieldset{
	margin-top: 1em;
}

#body fieldset,#body legend {
	border: #666666 1px dashed;
}

#body fieldset{
	margin-bottom: 1em;
}

select {
	display:block;
}

.widget-title {
	font-size: 1.1em;
	font-weight: bold;
	text-align: center;
	padding: 2px;
	border-right: #000000 1px solid;
	border-bottom: #000000 1px solid;
	background-color: #cccccc;
}

.widget {
	border: #999999 1px dotted;
	padding: 2px;
	margin-bottom: 1em;
}

.widget-body {
	padding: 5px;
	background-color: #ffffff;
}

.widget ul {
	padding: 0.5em 1em;
}
.widget ul li {
	padding: 0.2em 0;
}

h1 {
	font-size: 160%;
}

h2 {
	font-size: 140%;
}

h3 {
	font-size: 120%;
}

h4 {
	font-size: 100%;
}

h5 {
	font-size: 95%;
}

h6 {
	font-size: 90%;
}

.message{
	padding: 10px 1em 1em 0.5em;
	background-position: 0.5em 0.5em;
	background-repeat: no-repeat;
	margin-bottom: 1em; 
}

.message span{
	padding-left: 30px;
	display: block;
}

.message br{
	line-height: 2em;
	vertical-align: top;
}

.message-crit{
	background-image: url("$base_url$/images/messagebox_critical.png");
	background-color: #FF9999;
	border: #CC0000 2px dashed;
}

.message-warn{
	background-image: url("$base_url$/images/messagebox_warning.png");
	background-color: #FFCC66;
	border: #FF9900 2px dashed;
}

.message-info{
	background-image: url("$base_url$/images/messagebox_info.png");
	background-color: #99CCFF;
	border: #0066CC 2px dashed;
}

.message-jsbox{
		border: 2px dashed #999999;
		padding: 1em 1em 0 1em;
		background-color: #CCCCCC;
}

.message-jsbox button{
	float:right;
	border: #0066CC 1px solid;
	background-color: #99CCFF;
}

div.blog-notspam-icon{
	background-image: url("$base_url$/images/blog-notspam.png");
}

div.blog-spam-icon{
	background-image: url("$base_url$/images/blog-spam.png");
}

td.blog-spam-icon{
	background-color: #ffeeee;
}

div.blog-notspam-icon, div.blog-spam-icon{
	padding-left:75px;
	background-repeat: no-repeat;
}

div.gravatar{
	padding-left:91px;
	background-repeat: no-repeat;
	min-height:91px;
}

.sail-table {
	width: 95%;
	/*border: #666666 1px solid;*/
	background-color: #eeeeee;
	border-collapse: collapse;
	margin: 0 auto;
}

.div-heading {
	text-align: left;
	padding: 1.2em 0 0.5em 2em !important;
	border: none !important; 
	background-color: #ffffff;
	font-size: 1.2em;
}

.sail-table * td, .sail-table * th {
	border: #666666 1px solid;
	padding: 4px;
	overflow:hidden;
}

.sail-table tr:hover td{
	background-color: #cccccc;
}

/*********** ADMIN *****************************/

a.admin-block {
	display: block;
	border: #cccccc 1px solid;
	padding: 1em;
	margin-bottom: 1em;
	text-decoration: none;
	color: #666666;
}

a.admin-block img{
	float: left;
	border: none;
	margin-right: 0.5em;
	background-color: #ffffff;
	padding-right: 1em;
}

div.admin-block img{
	float: left;
	margin: 0;
	padding: 1em;
}

div.admin-block h3{
	line-height: 48px;
	padding: 1em 0;
	border-bottom: #666666 1px solid;
}

a.admin-block span{
	display: block;
}

a.admin-block span span:first-child{
	margin-bottom: 0.5em;
	padding-bottom: 0.5em;
	border-bottom: #666666 1px solid;
	font-size: 110%;
	font-weight: bold;
}

/************ Admin table **************/

.admin-table {
	width: 100%;
	background-color: #f4f4f4;
	border: #666666 1px solid;
	border-collapse: collapse;
}

.row1{
	background-color: #eeeeee;
}

.row0{
	background-color: #e8e8e8;
}

.admin-table th{
	border-bottom: #ababab 1px solid;
}

.admin-table tr:hover{
	background-color: #e0e0e0;
}

.admin-table tr:first-child:hover{
	background-color: transparent;
}

.admin-table td, .admin-table th {
	border-left: #ababab 1px solid;
	padding: 0.2em 0.6em;
	margin: 0;
}

.admin-table td:first-child, .admin-table th:first-child {
	border-left: none;
	text-align: center;
}

.center-input input, .center-input select {
	margin: 0 auto;
}
