/*  ID has the #!!  */
body, html {margin:0;padding:0;height:100%;background-color:#ffffff;color:#000000;font-family:"Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;}
body {min-width:750px;height:100%;font-size:1em}

/* don't need to format body_block */

#container{width:100%;}

	#header {clear:both;height:100px;border:#0099FF 2px solid;margin:1em;}

	#main_body:after{ /* this is for NN6 to clear floats */
    content:".";display:block;height:0;clear:both;visibility:hidden;}

		#content_wrap{margin:2em;padding:2em;margin-right:1em;position:absolute;left:9.6em; right:0; top:100px; border:#0099FF 2px solid;} /*black magic occurs*/
			#content{}
			
		#navigation{margin:1em;margin-top:2em;position:absolute;top:100px;left:0;width:9.6em;padding-bottom:3em;border:#0099FF 2px solid;} /*end black magic*/
	
	#footer{margin:1em -2em -2em -2em;background-color:#edf5fa;text-align:center;}


	#header img{text-align:right;}
	#header #logo{border:0;}

/* NAVBAR */

		#navigation ul{list-style-type:circle;}
		.header{display:block;width:8em;line-height:2em;height:2em;text-align:center;text-decoration:none;color:#000000;background-color:#8AC3FA;position:relative;}
		.header span{z-index:3;position:relative;display:block;width:8em;height:2em;line-height:2em;}
		/*#navigation a:hover, #navigation a:active{background-color:#F9E38A}	*/
		.header img{z-index:2;position:absolute;top:0;left:0;width:8em;height:2em;border:#ffffff 0 none}
.header, .header img, .header span{left:0;right:0}
.header{font-size:1.2em;color:#eeeeee;background-color:#3366FF}
/* CONT STUFF*/
		
			.title{color:#006600;font-size:1.7em;line-height:72px;font-weight:bold;}
		
			#cont a{color:#027ac6;}
			#cont a:visited{}
			#cont a:hover{color:#005290;text-decoration:none;}
			
			 a img{border:0px;}
			


			