/* Admin login page */
			.login{width:85%;border:#999999 1px solid;background-color:#ffffff;text-align:center;margin:0 auto;}
			.login br{clear:both;}
			

			div > .login-text,div > .login-form{float:left;width:44%;margin:5px;padding:0;height:auto;}
				.login-form form fieldset{border:#FFFFFF 1px none;}
				.login-form form fieldset div input{float:right;width:16em;}
				.login-form form fieldset div.btn input{float:right;width:6em;}	
				.login-form form fieldset div label{margin-left:auto;float:left;text-align:right;width:5em;}
				.login-text{}
				.login-form{}
	
			
			/*admin head (Welcome x                      Logout)*/
			.a-header-l,.a-header-r{font-weight:bold;font-style:italic;}
			.a-header-l{float:left;}.a-header-r{float:right;}
			
			hr.admin{border:#006600 1px solid;clear:both;}		
			hr.admin ~ div.indent{margin-left:2em;}
	

			/* FORMS */
			form,form br{clear:both;display:block;}
			fieldset{border:#006600 1px solid;float:left;padding:1em 2em;position:relative;}

			fieldset div{float:left;padding-bottom:0.4em;clear:both;display:block;}
			fieldset div.btn{padding-left:8em;}
			label{margin:0;display:block;width:8em;text-align:right;float:left;}
			input,select,textarea,button{border:#006600 1px solid;margin-left:10px;margin-top:1px;}
			
			button {cursor:pointer;padding:3px}		
			button img {vertical-align:middle}
			button.pad-top{margin-top:1em;}
			
			.box {margin-bottom:1.2em;}
			.box input{margin-left:11em;}
			.box label{display:inline;width:auto;text-align:left;float:none;}
			
			legend{border:#006600 1px solid;padding:2px 6px;background-color:#ffffff;}
			label:hover + *,button:hover,input:hover,select:hover,textarea:hover{background-color:#ffdddd;}
			label:focus + *,button:focus,input:focus,select:focus,textarea:focus{background-color:#ffffcc;}
	
			.panel{background-color:#eeffee;border:#dddddd 1px solid;padding:1.5em;position:absolute;left:9.5em;right:-4em;}
			div > .panel{background-color:#eeffee;border:#dddddd 1px solid;padding:1.5em;position:relative;left:0;right:0;}
				.panel-icon-area{float:left;width:45%;display:block;}
					.panel-icon{}
						.panel-icon-img{float:left;}
							.panel-icon-img a{text-align:center;display:block;text-decoration:none;border:#dddddd 1px solid;border-bottom:#dddddd 2px solid;border-right:#dddddd 2px solid;background-color:#edf5fa;padding:5px;margin:5px;width:105px;height:105px;}
							.panel-icon-img a:hover{border:#6666dd 1px solid;border-right:#6666dd 2px solid;border-bottom:#6666dd 2px solid;background-color:#eeeeff;}
							.panel-icon-img a:active{border:#6666dd 1px solid;border-top:#6666dd 2px solid;border-left:#6666dd 2px solid;background-color:#eeeeff;position:relative;top:2px;left:2px;}
							.panel-icon-img a img{border:transparent 0px none;}
						.panel-icon br{clear:both;}
					
				.panel-stats{float:right;width:45%;display:block;}
				
				.panel h1,.panel h2,.panel h3{color:#117700}
				
				.tab-admin{clear:both;width:100%;}
					.tab-admin th{text-align:left;}
					
					
					.small-ico span{float:left;line-height:22px;text-decoration:underline;cursor:pointer}
			.small-ico img{float:left;}
			.small-ico:hover span{text-decoration:none;}

			a img{border:transparent 0px none;}

			.indent h2{float:left;line-height:2em;}
				
			/* Popup messages - not used at present */
			* > .popup{position:relative;z-index:1;text-decoration:none;border-bottom:#006600 1px dashed;}
			.popup span{display: none;cursor:help;}
			.popup:hover{font-size:1em;z-index:2;cursor:help;}
			.popup:hover span{display:block;position:absolute;padding:1em;width:20em;top:0.8em;left:2em;border:#999999 1px dashed;background-color:#ffffcc;cursor:help;}
							
			popup{border-bottom:#006600 1px dashed;cursor:help;}
			
	
				table{ border-collapse:collapse;}
					th{padding-bottom:5px;}
					td{border-top:#006600 1px solid;padding-bottom:5px;}
					tr:hover{background-color:#ccccff;}


					
				.five{width:5%;}
				.ten{width:10%;}
				.fifteen{width:15%;}
				.twenty{width:20%;}
				.twentyfive{width:25%;}	
				
				/* Formatting of error/notice outputs from admin section */
			.clear{clear:both;}
			.hide{display:none;}
			.center{text-align:center;margin:0 auto;}
			.bold{font-weight:bold;}
			.error,.message,.warn{line-height:22px;padding: 1em;width:92%;text-align:left;position:relative;}
			.error{color:#aa0000;background-color:#ffcccc;border:#dd7777 1px solid;}
			.warn{color:#555500;background-color:#ffffcc;border:#aaaa33 1px solid;}
			.message{color:#0000aa;background-color:#ccccff;border:#7777dd 1px solid;}	
			.error img,.warn img,.message img{position:absolute;left:1em;top:1em;}			
			.error span,.warn span,.message span{display:block;margin-left: 32px;float:left}							
			.error br,.warn br,.message br{clear:both;}
			.error hr,.warn hr,.message hr{clear:both;visibility:hidden;}
			.error span br,.warn span br,.message span br{clear:none;visibility:visible;}