/* Admin login page */
			.login{width:85%;border:#999999 1px solid;background-color:#ffffff;text-align:center;margin:0 auto;}
			.login br{clear:both;}
			
			.login, .panel{color:#000000 !important}

			div > .login-text,div > .login-form{float:left;width:44%;margin:5px;padding:0;height:auto;}
				.login-form form fieldset{border:#FFFFFF 1px none;}
				.login-form form fieldset div input{float:right;width:16em;}
				.login-form form fieldset div.btn input{float:right;width:6em;}	
				.login-form form fieldset div label{margin-left:auto;float:left;text-align:right;width:5em;}
				.login-text{}
				.login-form{}
	
			
			/*admin head (Welcome x                      Logout)*/

			
			hr.admin{border:#006600 1px solid;clear:both;}		
			hr.admin ~ div.indent{margin-left:2em;}
	

			/* FORMS */
			form,form br{clear:both;display:block;}
			fieldset{border:#006600 1px solid;float:left;padding:1em 2em;position:relative;clear:both;margin-bottom:1em;}

			fieldset div{float:left;padding-bottom:0.4em;clear:both;display:block;}
			.noclear{clear:none;}
			fieldset div.btn{padding-left:8em;}
			label{margin:0;display:block;width:8em;text-align:right;float:left;}
			input,select,textarea,button{border:#006600 1px solid;margin-left:10px;margin-top:1px;}
			
			button {cursor:pointer;padding:3px}		
			button img {vertical-align:middle}
			button.pad-top{margin-top:1em;}
			
			.box {margin-bottom:1.2em;}
			.box input{margin-left:11em;}
			.box label{display:inline;width:auto;text-align:left;float:none;}
			
			legend{border:#006600 1px solid;padding:2px 6px;background-color:#ffffff;width:}
			label:hover + *,button:hover,input:hover,select:hover,textarea:hover{background-color:#ffdddd;}
			label:focus + *,button:focus,input:focus,select:focus,textarea:focus{background-color:#ffffcc;}
	
			
				.panel-icon-area{float:left;width:45%;display:block;}
					.panel-icon{}
						.panel-icon-img{float:left;}
							.panel-icon-img a{text-align:center;display:block;text-decoration:none;border:#dddddd 1px solid;border-bottom:#dddddd 2px solid;border-right:#dddddd 2px solid;background-color:#edf5fa;padding:5px;margin:5px;width:105px;}
							.panel-icon-img a:hover{border:#6666dd 1px solid;border-right:#6666dd 2px solid;border-bottom:#6666dd 2px solid;background-color:#eeeeff;}
							.panel-icon-img a:active{border:#6666dd 1px solid;border-top:#6666dd 2px solid;border-left:#6666dd 2px solid;background-color:#eeeeff;position:relative;top:2px;left:2px;}
							.panel-icon-img a img{border:transparent 0px none;}
						.panel-icon br{clear:both;}				
				.panel-stats{float:right;width:45%;display:block;}
				
				.panel h1,.panel h2,.panel h3{color:#117700}		
					
					.small-ico span{float:left;line-height:22px;text-decoration:underline;cursor:pointer}
			.small-ico img{float:left;}
			.small-ico:hover span{text-decoration:none;}

			a img{border:transparent 0px none;}
				
				.tab-admin{clear:both;width:100%;}
				.tab-admin th{text-align:left;}
				table{ border-collapse:collapse;}
				th,td{padding:3px;}
					th{padding-bottom:5px;}
					td{border-top:#006600 1px solid;padding-bottom:5px;}
					tr:hover{background-color:#ccccff;}
					
				