/*  ID has the #!!  */
body, html {margin:0;padding:0;height:100%;background-color:#edf5fa;color:#003366;font-family:"Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;}
body {min-width:750px;height:100%;font-size:1em}

/* don't need to format body_block */
#container{background-image:url('navmesh.jpg');background-repeat:repeat;position:relative;}

	#navigation{float:left;width:8em;padding:0;position:relative;} /*end black magic*/

		#header {height:100px;}

		#content{background-color:#edf5fa;margin-left:8em;padding:1em 1em 1em 1em;}

		#footer{background-color:#edf5fa;text-align:center}

			#header img{border:0;position:absolute;right:0;z-index:3;}

/* NAVBAR */

		#navigation ul{list-style-type:none;padding:2em 0 0 0;margin:0;}
		#navigation ul a{display:block;width:8em;line-height:2em;height:2em;text-align:center;text-decoration:none;color:#000000;background-color:#8AC3FA;position:relative;}
		#navigation ul a span{z-index:3;position:relative;display:block;width:8em;height:2em;line-height:2em;}
		#navigation ul a:hover, #navigation ul a:active{background-color:#F9E38A}	
		#navigation ul a img{z-index:2;position:absolute;top:0;left:0;width:8em;height:2em;border:#ffffff 0 none}
		#navigation a #logo{border:0;}
/* CONT STUFF*/
		
			 span.title{color:#006600;font-size:1.6em;line-height:72px;font-weight:bold;}
			 h1{font-size:1.6em}
			h2,.h2{font-size:1.4em}
			.h2{padding-top:1em}
			h3{font-size:1.2em}
			h4{font-size:1em}
		
			#content a{color:#027ac6;}
			#content a:visited{}
			#content a:hover{color:#005290;text-decoration:none;}
			
			 a img{border:0px;}
			

				/* Formatting of error/notice outputs from admin section */
			.float{float:left;}
			.right{float:right;}
			.clear{clear:both;}
			.cfloat{float:left;clear:both;}
			.cright{float:right;clear:both;}
			img.cfloat, img.float{padding-right:1em;position:relative;}
			img.cright, img.right{padding-left:1em;position:relative;}
			.hide{display:none;}
			.center{text-align:center;margin:0 auto;}
			.bold{font-weight:bold;}
			.error,.message,.warn{line-height:22px;padding: 1em;width:92%;text-align:left;position:relative;}
			.error{color:#aa0000;background-color:#ffcccc;border:#dd7777 1px solid;}
			.warn{color:#555500;background-color:#ffffcc;border:#aaaa33 1px solid;}
			.message{color:#0000aa;background-color:#ccccff;border:#7777dd 1px solid;}	
			.error img,.warn img,.message img{position:absolute;left:1em;top:1em;}			
			.error span,.warn span,.message span{display:block;margin-left: 32px;float:left}							
			.error br,.warn br,.message br{clear:both;}
			.error hr,.warn hr,.message hr{clear:both;visibility:hidden;}
			.error span br,.warn span br,.message span br{clear:none;visibility:visible;}
			
			.header-l,.header-r{font-weight:bold;font-style:italic;}
			.header-l{float:left;}.header-r{float:right;}
			
			.sub-li{ list-style-type:none;}
			
			.panel{background-color:#eeffee;border:#dddddd 1px solid;padding:1.5em;}
 			div > .panel{background-color:#eeffee;border:#dddddd 1px solid;padding:1.5em;position:relative;left:0;right:0;}
			.gal-img{float:left; display:block;}
				.gal-img span{height:150px;display:block;}
				.gal-img a{text-align:center;display:block;text-decoration:none;border:#dddddd 1px solid;border-bottom:#dddddd 2px solid;border-right:#dddddd 2px solid;background-color:#edf5fa;padding:15px 5px;margin:5px;width:14em;height:15em;padding-bottom:1em;}
				.gal-img a:hover{border:#6666dd 1px solid;border-right:#6666dd 2px solid;border-bottom:#6666dd 2px solid;background-color:#eeeeff;}
				.gal-img a:active{border:#6666dd 1px solid;border-top:#6666dd 2px solid;border-left:#6666dd 2px solid;background-color:#eeeeff;position:relative;top:2px;left:2px;}

			.tab-highlight tr:hover{background-color:#ccccff;}
			.tab-nohighlight:hover{background-color:transparent !important}
			.tab-highlight {width:100%;text-align:left;border-collapse:collapse}
			
			/* Popup messages - not used at present */
			* > .popup{position:relative;z-index:1;text-decoration:none;border-bottom:#006600 1px dashed;}
			.popup span{display: none;cursor:help;}
			.popup:hover{font-size:1em;z-index:2;cursor:help;}
			.popup:hover span{display:block;position:absolute;padding:1em;width:20em;top:0.8em;left:2em;border:#999999 1px dashed;background-color:#ffffcc;cursor:help;}
							
			popup{border-bottom:#006600 1px dashed;cursor:help;}
			
			
			.five{width:5%;}
			.ten{width:10%;}
			.fifteen{width:15%;}
			.twenty{width:20%;}
			.twentyfive{width:25%;}	
			
			.w-70{width:70%;}
			
			hr.admin{border:#006600 1px solid;clear:both;}		
			hr.admin ~ div.indent{margin-left:2em;}
	

			/* FORMS */
			form,form br{clear:both;display:block;}
			fieldset{border:#003366 1px solid;float:left;padding:1em 2em;position:relative;clear:both;margin-bottom:1em;}

			fieldset div{float:left;padding-bottom:0.4em;clear:both;display:block;}
			.noclear{clear:none;}
			fieldset div.btn{padding-left:8em;}
			label{margin:0;display:block;width:8em;text-align:right;float:left;}
			input,select,textarea,button{border:#003366 1px solid;margin-left:10px;margin-top:1px;}
			
			button {cursor:pointer;padding:3px}		
			button img {vertical-align:middle}
			button.pad-top{margin-top:1em;}
			
			.box {margin-bottom:1.2em;}
			.box input{margin-left:11em;}
			.box label{display:inline;width:auto;text-align:left;float:none;}
			
			legend{border:#003366 1px solid;padding:2px 6px;background-color:#ffffff;}
			label:hover + *,button:hover,input:hover,select:hover,textarea:hover{background-color:#ffeeee;}
			label:focus + *,button:focus,input:focus,select:focus,textarea:focus{background-color:#ffffdd;}
	
			